body{
    background-image: url(https://image.tmdb.org/t/p/original/rBN6GPKUDZ6ZKAQiEZegZ0DZb6V.jpg);

    background-attachment: fixed;
    background-size: cover;

}
img{
    width: 200PX;
    height: 200px;
    object-fit: cover;
    margin-right: 100px;
}
p{
    color: #271818;

}
