*{
    margin: 0;
}
nav{
    height: 5vh;
    background: #D9D9D9;
}
main{
    display: flex;
    height: 85vh;
}
section{
    height: 100%;
    width: 30vw;
    background: #A4A4A4;
}
article{
    height: 100%;
    width: 30vw;
    background: #C1C1C1;
}
main div{
    height: 100%;
    width: 40vw;
}
.aside__top{
    width: 100%;
    height: 50%;
    background: #7F7A7A;
}
.aside__bottom{
    width: 100%;
    height: 50%;
    background: #6B6161;
}
footer{
    height: 10vh;
    background: #D9D9D9;
}
