* {
    margin: 0;
}
header, section, aside, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    height: 20vh;
    background: #8D8484;
}

main  {
    display: flex;
}

footer {
    height: 20vh;
    background: #8D8484;
}

section {
    height: 20vh;
    width: 73vw;
}

.content-1 {
    background: #776969;
}

.content-2 {
    background: #643030;
}

.content-3 {
    background: #441818;
}

aside {
    height: 30vh;
    width: 27vw;
}

.spam-1 {
    background: #937575;
}

.spam-2 {
    background: #644C4C;
}