@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #020617;
    gap: 16px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;

    background: #0e1757;
    border-radius: 50%;
    border: 3px solid;


    color: #fff;
    font-family: "Jersey 10", sans-serif;
    font-size: 60px;

    animation: preloader 2s linear alternate infinite;
    transition: 1.2s;

}

.five {
    width: 140px;
    height: 140px;
    font-size: 150px;
}

@keyframes preloader {
    0% {
        transform: rotate(-20deg);
        opacity: 0.7;
        border-color: #322a2a;
    }
    100% {
        transform: rotate(20deg);
        opacity: 1;
        border-color: #ffffff;
    }
}

.box:hover {
    transition: 1.2s;
    background-color: #7bb7ca;
    color: black;
}
