@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(42, 42, 193, 0.81);
    gap: 3rem;
}

.box {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid rgb(169, 169, 169);

    font-family: "BBH Bartle", sans-serif;
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: rgba(169, 169, 169, 0.92);

    animation: preloader 2s infinite ease-out;

}

@keyframes preloader {
    0% {
        transform: scale(0.4);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.box:hover {
    transform: scale(1.2);
    background-color: #ffffff;
    color: black;
}
